@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily : '游ゴシック', YuGothic, 'メイリオ',Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #EBE084;
$subColor: #6F984C;
$keyColor: #364D39;
$fontColor: #4c4c4c;

// base
html{ font-size: 62.5%;}

body{
    color:$fontColor;
    font-size: 1.2rem;
    font-family:$baseFontFamily;
    line-height: 1.4;
    letter-spacing: 0.1em;
    background-color:#ffffff;
    text-align: center;
}

a {
  text-decoration: none;
}

.text-center{
    text-align: center;
}


// header
header{
    width: auto;
    height: 500px;
    background-image:url(images/cafe.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

}

// main
h1 {
        color:$keyColor;
        font-size: 6.2rem;
        margin: 40px 0;
    }

#guide{
    background-color:$baseColor;
    .container{    
        @include display-flex;
        justify-content: space-between;
        @include flex-direction(row);
        
    }
    .guide-box{
        @include flex(1);
        margin: 20px;
        padding: 20px;
        background-color: #ffffff;
        @include border-radius(4px);
        @include box-sizing(border-box);
        }

    h2{
        font-size: 3.0rem;
        color:$subColor;
    }
}


// footer
footer{
    padding:40px;
    
    h3{
        font-size: 2.0rem;
        color:$subColor;
    }
    .btn{
          a{
            background-color:$keyColor;
            color:#ffffff;
            font-size:15px;
            width:150px;
            display:block;
            text-align:center;
            line-height:25px;
            margin-top:20px;
            border-radius:5px;
            margin-left: auto;
            margin-right: auto;

          }
    }
}


// モバイル
@media screen and(max-width: 768px){
    header{
            width: 100%;
            height: 250px;
    }
    
    #guide{
       .container{
               @include flex-direction(column);
               padding: 20px 0;
       }
              .guide-box{
           margin: 10px 20px;
       }
    }
}